<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REGISTER</title>

  <link rel="stylesheet" href="/css/home/register.css" />
</head>
<body>
  <form action="" class="login-form">
    <input type="text" placeholder="아이디" id="id" /><br />
    <input type="text" placeholder="이름" id="name" /><br />
    <input type="password" placeholder="비밀번호" id="password" /><br />
    <input type="password" placeholder="비밀번호 확인" id="confirm-password" /><br />
    <!-- <button class="btn-login">SIGN UP</button> -->
    <p class="btn-login" id="button">SIGN UP</p>
    <a href="/login" class="btn-register">login</a>
  </form>

  <script src="/js/home/register.js" defer></script>
</body>
</html>